<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eaty's</title>
</head>
<body>

<div>
    <ul id="navbar">
        <li><a href="/">Почетна</a></li>
        <li><a href="/menija">Менија</a></li>
        <li><a href="/obroci">Оброци</a></li>
    </ul>
</div>

<div>
    <div>

        <!-- ForumUsersController.showAdd (Only ADMIN can see this element)-->
        <a href="/ceni/add" class="add-item" >
            Додади нова цена на оброк
        </a>
        <h2>Оброци:</h2>
    </div>

    <table>
        <tr>
            <th>Оброк</th>
            <th>Опис</th>
            <th>Цена</th>
            <th>Важи Од</th>
            <th>Важи До</th>

        </tr>
        <!-- For each user you should have one <tr> like below -->
        <tr class="item"  th:each="cena: ${ceni}">
            <td th:text="${cena.obrok.ime}">[obrok.ime]</td>
            <td th:text="${cena.obrok.opis}">[obrok.opis]</td>
            <td th:text="${cena.CenaIznos}">[cena.CenaIznos]</td>
            <td th:text="${cena.CenaVaziOd}">[cena.VaziOd]</td>
            <td th:text="${cena.CenaVaziDo}">[cena.VaziOd]</td>


            <td>
                <!-- ForumUsersController.delete (Only ADMIN can see this element)-->

                <!-- ForumUsersController.showEdit (Only ADMIN can see this element)-->
                <a th:href="@{'/ceni/{id}/edit' (id=${cena.id})}"  class="edit-item" >Едитирај</a>
            </td>

        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>