<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eaty's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>

        .width1 {
            width: 27rem;
            background: #f3f3f3;
            border-radius: 7px;
            padding: 1rem;
            margin-top: 5vh;
        }

    </style>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-4" href="/">Eaty's</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Почетна <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/menija">Менија</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/obroci">Оброци</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex text-center justify-content-center">
    <div class="width1">
<form method="POST" th:action="@{'/obroci/{id}' (id=${obrok?.id})}">
    <h1>Додади нов оброк</h1>

    <div class="form-group mb-3">
        <label for="f1">Име</label>
        <input type="text" class="form-control form-control-lg"
               id="f1"
               name="ime"
               th:value="${obrok?.ime}"
               required>
    </div>
    <div class="form-group mb-3">
        <label for="f2">Опис</label>
        <input type="text" class="form-control form-control-lg"
               id="f2"
               name="opis"
               th:value="${obrok?.opis}"
               required>
    </div>
    <div class="form-group mb-3">
        <label>Мени</label><br/>
        <select id="f3" name="meniId" class="form-control-lg">
            <option th:each="meni: ${menija}" th:value="${meni.id}" th:text="${meni.restoran.ime} + '(' + ${meni.tip.ime} +')'"> [meni_id]</option>
        </select>
    </div>

    <button id="submit" class="btn btn-info">Додади</button>
    <a id="back" href="/obroci" type="button" class="btn btn-primary">Назад до оброци</a>
</form>
    </div>
</div>



</body>
</html>