<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eaty's</title>
</head>
<body>

<div>
    <ul id="navbar">
        <li><a href="/">Почетна</a></li>
        <li><a href="/menija">Менија</a></li>
        <li><a href="/obroci">Оброци</a></li>
    </ul>
</div>

<div>
    <div>
        <!-- ForumUsersController.showAdd (Only ADMIN can see this element)-->
        <a href="/menija/add" class="add-item" >
            Додади ново мени
        </a>
        <h2>Менија:</h2>
    </div>
    <table>
        <tr>
            <th>Ресторан</th>
            <th>Тип</th>

        </tr>
        <!-- For each user you should have one <tr> like below -->
        <tr class="item"  th:each="meni: ${menija}">
            <td th:text="${meni.restoran.ime}">[meni.restoran]</td>
            <td th:text="${meni.tip.ime}">[meni.tip]</td>

            <td>
                <!-- ForumUsersController.delete (Only ADMIN can see this element)-->
                <form method="POST" th:action="@{'/menija/{id}/delete' (id=${meni.id})}" >
                    <button type="submit" class="delete-item">Избриши</button>
                </form>
                <!-- ForumUsersController.showEdit (Only ADMIN can see this element)-->
                <a th:href="@{'/menija/{id}/edit' (id=${meni.id})}"  class="edit-item" >Едитирај</a>
            </td>
        </tr>
    </table>

</div>
<!--<div>-->
<!--    <ul id="nav">-->
<!--        <li><a href="/">Home</a></li>-->
<!--        <li><a href="/login">Login</a></li>-->
<!--        <a th:href="@{/oauth2/authorization/facebook}">Login with Facebook</a>-->
<!--        <li><a href="/logout">Logout</a></li>-->
<!--    </ul>-->
<!--</div>-->
</body>
</html>